.register-body {
    background-image: url("https://img.freepik.com/premium-vector/minimalist-camping-forest-line-art-vector-illustration-design_612390-456.jpg?w=1380");
    background-size: cover;
    background-position: center;
}